
@import "~src/scss/_variables";

header {
  background-color: $secondary-color;
}

main {
  display: grid;
  grid-template-rows: 1fr 3fr;
  
  height: 90vh;
  width: 100vw;

  justify-items: center;
  align-items: start;
}